.grid-item {
    transition: transform 0.3s ease-in-out;
  }

  .card {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    border: 1px solid rgb(151, 149, 149);
}
  .grid-item:hover {
    transform: scale(1.04);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-auto-rows: auto;
    gap: 1%;
    padding: 0px;
  }

  .imagen {
    width: 96px;
    height: 96px;
  }

  .numero-pokemon-listado {
    background-color: #5C5A5B;
    color: white;
    margin: 0px;
    border-radius: 3px;
    padding: 2px;
    font-size: 0.7rem;
  }
  
  .nombre-pokemon-listado {
    border-radius: 3px;
    font-size: 0.75rem;
    margin: 0px;
  }

  .imagen-grande {
    width: 80%;
    margin:auto;
  }

  body {
    background-color: whitesmoke;
  }

  .card-body {
    background-color: #ECC2C1;
  }

  #panelCentral {
    position: relative;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
 }

 #piePanelLateral {
    padding-top: 5%;
 }

.botones-paginas {
    background-color: #fFe3e0;
    border: 1px solid #ccc;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
 }

 .pagina-activa {
    background-color: whitesmoke;
    border: 1px solid black;
    color: rgb(37, 37, 37);
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    margin: 4px 2px;
    pointer-events: none;
    border-radius: 3px;
 }