:root {
  --color-fondo: #DDDDDD;
  --color-cuerpo-tarjeta: #EFBF25;
  --color-nro-pokemon: #f20000;
  --color-txt-nro-pokemon: white;
}

.grid-item {
    transition: transform 0.3s ease-in-out;
    margin: 0px;
    padding: 0px;
  }

  .card {
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.5);
    border: 1px solid rgb(151, 149, 149);
}
  .grid-item:hover {
    transform: scale(1.04);
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: 19% 19% 19% 19% 19%;
    grid-auto-rows: auto;
    gap: 1%;
    padding: 0px;
    margin:0px;
  }

  .imagen {
    width: 96px;
    height: 96px;
  }

  .numero-pokemon-listado {
    background-color: var(--color-nro-pokemon);
    color: var(--color-txt-nro-pokemon);
    margin: 0px;
    border-radius: 3px;
    padding: 2px;
    font-size: 0.7rem;
  }
  
  .nombre-pokemon-listado {
    border-radius: 3px;
    font-size: 0.75rem;
    margin: 0px;
  }

  .imagen-grande {
    width: 80%;
    margin:auto;
  }

  body {
    background-color: var(--color-fondo);
  }

  .card-body {
    background-color: var(--color-cuerpo-tarjeta);
    position: static;
    border: 1px solid rgb(151, 149, 149);
  }
  
  .cardBody {
    background-color: var(--color-cuerpo-tarjeta);
    position: static;
    border: 1px solid rgb(29, 28, 28);
    width: 26rem;
  }
  #panelCentral {
    position: static;
    align-items: center;
 }

#fotoGrandePokemon {
  max-width: 100%;
  max-height: 100%;
}

#tarjetaGrande {
  width: 26rem;
  height: 25rem;
  align-items: stretch;
  background: rgb(226,228,189);
  background: radial-gradient(circle, rgba(226,228,189,1) 0%, rgba(240,190,33,1) 100%);
}

 #piePanelLateral {
    padding-top: 5%;
 }

.botones-paginas {
    background-color: #fFe3e0;
    border: 1px solid #ccc;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 3px;
 }

 .pagina-activa {
    background-color: whitesmoke;
    border: 1px solid black;
    color: rgb(37, 37, 37);
    padding: 5px 10px;
    text-align: center;
    text-decoration:none;
    display: inline-block;
    margin: 4px 2px;
    pointer-events: none;
    border-radius: 3px;
 }